html {
    background-image: url(galgje_achtergrond.jpg);
    color: white;
}

#woord {
    border: 1px solid black;
    float: center;
}

.info {
    text-align: center;
    background-color: #005ce6;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 20%;
    color: white;
}

p {
    background-color: #99c2ff;
}

.knoppen {
    text-align: center;
    
}